* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F2EFEF;
}

h1 {
  font-family: 'Itim', cursive;
  font-size: 50px;
  margin-top: 40px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1300px;
  margin: 40px auto;
  padding: 0 20px;
}

.card, .card2 {
  width: 100%;
  height: auto;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #fcf2e5;
}

.card2 {
  background-color: white;
}

.card-img, .card2-img {
  width: 85%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-top: 25px;
  border-radius: 0px 30px 0px 0px;
}

.card-h1, .card2-h1 {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 15px 10px 10px 10px;
  text-align: center;
}

.card-p, .card2-p {
  font-size: 16px;
  color: gray;
  text-align: center;
  margin-bottom: 4px;
  line-height: 1.2;
}

@media (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
  }
}